.avatar-sm{
  width: 40px;
  height: 40px;
  background-color: transparent !important;
}

.image-container{
  border: 1px solid #222222;
  border-radius: 50%;
  background-color: #222222 !important;
  color: #ffffff;
}
