.navbar-container,
.category-container,
footer-container{
  padding: 0 !important;
  overflow: hidden;

}

.home-content{
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh !important;
}

@media screen and (max-width: 500px) {
  .navbar-container{
    min-width: 350px !important;
  }

}




