<div class="navbar-container d-flex flex-column">
  <app-navbar [profileView] = false></app-navbar>

  <div class="category-container">
    <app-category></app-category>
  </div>

  <div class="home-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    periam architecto atque culpa laudantium odio quibusdam reiciendis, s
    it unde. Cum distinctio nobis quisquam voluptatem! Atque blanditiis dolorum et maxime obcaecati optio!
  </div>

  <div class="footer-container">
    <app-footer></app-footer>
  </div>
</div>
