<div class="rows align-items-center border-bottom shadow-sm">
  <div class="category-container">
    <p-carousel
      [value]="categories"
      [numVisible]="10"
      [numScroll]="1"
      [circular]="false"
      [responsiveOptions]="responsiveOptions">

      <ng-template let-category pTemplate="item">
        <ng-container *ngIf="category.technicalName !== 'ALL'">

          <div class="d-flex flex-column align-items-center justify-content-center wrapper"
               (click)="onChangeCategory(category)" [class.category-active]="category.activated">

            <img [src]="category.icon" alt="categoryImage" class="object-fit-contain icon-image" width="20" height="20">
            <p class="category-name fs-6">{{ category.displayName }}</p>
          </div>
        </ng-container>
      </ng-template
      >

    </p-carousel>
  </div>
  <div class="filter-container" >
    <button class="p-button filter-icon me-3" (click)="enableFilter()">
      <img src = "assets/category-icons/filter-icon.svg" alt="filterIcon" width="30" height="20">
      <span style="font-size: 12px; font-weight: 400">Filters</span>
    </button>
    <button class="p-button filter-icon" (click)="enableFilter()">
      <span class="pe-3" style="font-size: 12px; font-weight: 400">Display before taxes</span>
      <mat-slide-toggle></mat-slide-toggle>
    </button>
  </div>

</div>

