.separator{
  width: 1px;
  height: 30px;
  background-color: #D1D5DC;
  margin: 10px 0;
}

.search-icon{
  background-color: #F25B5B;
  color: white;
  padding: 0.15rem 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}

.user-icon{
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
}
.custom-menu-panel {
  z-index: 2000 !important;   /* higher than navbar */
}


@media screen and (max-width: 860px) {
  .nav-end{
    .link{
      display: none !important;
    }
  }

}
